@import "../styles/typography.css";

@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: #101820;
      --accent: #1323E9;
      --blue: #374FFA;
      --white: #ECEDF8;
    }
  }

  @layer base {
    body {
      @apply bg-background text-white;
    }
  }

::-webkit-scrollbar {
  width: 0;
  display: none;
}