@import '../styles/typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark: #101820;
    --accent: #1323e9;
    --blue: #374ffa;
    --white: #ecedf8;
  }
}

@layer base {
  body {
    @apply bg-dark text-white;
  }
}

@layer components {
  :root {
    --max-width-container: 1720px;
  }
  ._container {
    max-width: var(--max-width-container);
    box-sizing: content-box;
    margin: 0 auto;
    @apply px-[14px] md:px-[32px] lg:px-[64px] xl:px-[100px];
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .bg-linear-auth {
    background: linear-gradient(152deg, #374FFA -39.56%, #101820 58.37%);
    @apply md:bg-linear-auth-md;
  }
  .bg-linear-auth-md {
    background: linear-gradient(
            0deg,
            rgba(16, 24, 32, 0.3) 0%,
            rgba(16, 24, 32, 0.3) 100%
    ),
    linear-gradient(90deg, var(--blue) 0%, var(--dark) 117.83%);
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
