@import '../styles/typography.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark: #101820;
    --gray: #666;

    --blue: #374ffa;
    --white: #ecedf8;

    --viewport-height: 100vh;

    --background: #101820;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: #1323e9;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: #da5757;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }

  @supports (height: 100dvh) {
    :root {
      --viewport-height: 100dvh;
    }
  }
}

@layer base {
  body {
    @apply bg-dark text-white;
  }
}

@layer components {
  :root {
    --max-width-container: 1720px;
  }
  
  ._container {
    max-width: var(--max-width-container);
    box-sizing: content-box;
    margin: 0 auto;
    @apply px-[14px] md:px-[32px] lg:px-[64px] xl:px-[100px];
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .bg-linear-auth {
    background: linear-gradient(
      152deg,
      var(--blue) -39.56%,
      var(--dark) 58.37%
    );
    @apply md:bg-linear-auth-md;
  }
  .bg-linear-auth-md {
    background: linear-gradient(
        0deg,
        rgba(16, 24, 32, 0.3) 0%,
        rgba(16, 24, 32, 0.3) 100%
      ),
      linear-gradient(90deg, var(--blue) 0%, var(--dark) 117.83%);
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .h-screen-dvh {
    height: var(--viewport-height);
  }
  .min-h-screen-dvh {
    min-height: var(--viewport-height);
  }
  .max-h-screen-dvh {
    max-height: var(--viewport-height);
  }
}
